.homePage {
  background: green !important;
}

.header {
  margin-top: 11.5vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  font-family: "Kaushan Script", cursive;
  font-size: 530%;
}

.description {
  font-size: 170%;
  font-family: "Quicksand", sans-serif;
  width: 30%;
  margin-bottom: 6vh;
}

.signInButton {
  width: 15%;
  margin-right: 1%;
}

.signUpButton {
  width: 15%;
}

.signInWithGoogleButton {
  width: 31.25%;
  margin-top: 1%;
}

.downloadAppButton {
  width: 31.25%;
  margin-top: 1%;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-top: 0;
    font-size: 370%;
    margin-bottom: 4vh;
  }
  .description {
    font-size: 120%;
    width: 90%;
    margin-bottom: 20vh;
  }
  .signInButton {
    width: 36%;
    margin-right: 4%;
  }
  .signUpButton {
    width: 36%;
  }
  .signInWithGoogleButton {
    width: 77%;
    margin-top: 4%;
  }
  .downloadAppButton {
    visibility: hidden;
    display: none;
    clear: both;
    width: 82%;
    margin-top: 1%;
  }
}
