.imageCardDeck {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imageCard {
  width: 70vh;
  margin-top: 5%;
  height: auto;
  display: inline;
}

.imgCardIMG {
  max-width: 70vh;
  max-height: 70vh;
}

.imgCardBar {
  display: flex;
  justify-content: center;
}

.imgCardBottom {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  float: right;
}

.heartIcon {
  width: 30px;
  height: auto;
  margin-bottom: auto;
}

.title.giveItAHeart {
  margin-right: 10px;
}

.title.titleCounter {
  margin-left: 8px;
}

@media screen and (max-width: 70vh) {
  .imageCardDeck {
    display: inline;
  }
  .imageCard {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 70vh) {
  .imageCard {
    margin-left: 3% !important;
  }
}
