.navigationBar {
  width: auto;
  /* height: 80px; */
}

.mr-auto {
  font-size: 110%;
  margin-left: 1%;
  margin-top: 4px;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: calc(185% - 10px);
}

.titleNavbar {
  color: white !important;
  text-decoration: none !important;
}

.titleNavbar:hover {
  text-decoration: none !important;
}

.navbarLink {
  color: rgb(180, 180, 180);
}

.navbarLink:hover {
  color: white;
  text-decoration: none;
}

.name {
  color: white;
  margin-top: 0.5%;
}

.signOut {
  margin-top: 0.5%;
  margin-left: 2%;
  color: grey;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .name {
    display: none;
  }
  .signOut {
    display: none;
  }
}
